@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Lato', sans-serif;
}
html {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height:100%;
}

body {
    color: #253858;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
    background: #fff;
    margin: 0;
    height: 100%;
}

body strong {
    font-weight: 700
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 600
}

dfn {
    font-style: italic
}

:not(pre)>code,:not(pre)>kbd,:not(pre)>samp {
    font-size: 14px;
    font-family: consolas,menlo,monospace!important;
    white-space: nowrap;
    padding: 0 2px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    background: #fafafa
}

code * {
    font-family: consolas,menlo,monospace!important
}

ins {
    background: #ffa;
    color: #333;
    text-decoration: none
}

mark {
    background: #ffa;
    color: #333
}

q {
    font-style: italic
}

small {
    font-size: 87%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ul,ol,blockquote,figure {
    margin: 0
}

p,dl,blockquote,pre,address,fieldset,figure {
    margin: 0 0 16px
}

*+p,*+dl,*+blockquote,*+pre,*+address,*+fieldset,*+figure {
    margin-top: 16px
}

ul,ol {
    padding-left: 32px
}

ul>li>ul,ul>li>ol,ol>li>ol,ol>li>ul {
    margin: 0
}

dt {
    font-weight: 400
}

dd {
    margin-left: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 16px 0;
    border: 0;
    border: 1px solid #dfe3ec
}

address {
    font-style: normal
}

h1,h2,h3,h4,h5,h6 {
    color: #253858;
    display: inline-block;
    width: 100%;
    width: 100%;
    line-height: 1.5;
    margin: 0 0 16px;
    letter-spacing: -.5px
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    font-weight: inherit
}

h1,h2 {
    font-weight: 700
}

h3,h4 {
    font-weight: 600
}

h5,h6 {
    font-weight: 600
}

h1 {
    font-size: 40px;
    margin: 0;
    text-align: left;
    letter-spacing: -1.2px;
    line-height: 1.25
}

h2 {
    line-height: 110%;
    font-size: 28px;
    margin: 0 0 16px
}

h3 {
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0 0 16px;
    font-weight: 700
}

h4 {
    font-size: 1.1rem;
    line-height: 110%;
    margin: 0 0 16px;
    letter-spacing: 0
}

h5 {
    font-size: 1rem;
    line-height: 110%;
    margin: 1rem 0 .2rem;
    letter-spacing: 0
}

h6 {
    font-size: .5rem;
    line-height: 110%;
    margin: .5rem 0 .2rem;
    letter-spacing: 0
}

h2,h3,h4 {
    margin-top: 20px;
    margin-bottom: 0;
}

p { 
    font-weight: 400;
    margin: 1rem 0;
}

p a {
    text-decoration: underline
}

a {
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
    background: 0 0;
    color: #A537DC;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #A537DC;
    -webkit-transition: color .15s ease;
    transition: color .15s ease
}

a:hover,a:active {
    outline: 0
}

a:hover,a:focus {
    color: #A537DC
}

a[disabled] {
    opacity: .5;
    pointer-events: none
}

b,strong,label,th {
    font-weight: 600
}

blockquote {
    border-left: 10px solid #f2f2f2
}

blockquote p {
    font-size: 1.1rem;
    color: #999
}

blockquote cite {
    display: block;
    text-align: right;
    color: #666;
    font-size: 1.2rem
}

code,kbd,pre,samp {
    font-family: consolas,menlo,monospace!important;
    font-size: 92%
}

code {
    border-radius: 2px;
    white-space: nowrap;
    background: #fff7dd;
    padding: 0 2px
}

pre {
    position: relative;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 2px;
    line-height: 1.15
}

pre code {
    background: inherit;
    white-space: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 15px
}

blockquote {
    padding-left: 16px;
    border-left: 5px solid 2px solid #f1f1f1;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic
}

pre {
    padding: 16px;
    background: #fafafa;
    font: 14px/1.5 operator mono,Consolas,monospace,serif;
    color: #333;
    tab-size: 4;
    border: 2px solid 2px solid #f1f1f1;
    border-radius: 3px;
    overflow: auto
}

::-moz-selection {
    background: #A537DC;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #A537DC;
    color: #fff;
    text-shadow: none
}

#body-inner li {
    margin-bottom: 10px
}

#body-inner li>p {
    margin-bottom: 0
}

#body-inner li>ul {
    margin-top: 10px
}

.anchor {
    display: inline-block;
    color: #A537DC;
    font-size: .5em;
    cursor: pointer;
    visibility: hidden;
    margin-left: .5em;
    position: absolute!important;
    margin-top: .1em;
    -webkit-transition: color .35s ease;
    transition: color .35s ease
}

.anchor:hover {
    color: #17c4ff;
    -webkit-transition: color .35s ease;
    transition: color .35s ease
}

h2:hover .anchor,h3:hover .anchor,h4:hover .anchor,h5:hover .anchor,h6:hover .anchor {
    visibility: visible
}

figcaption h4 {
    font-weight: 300!important;
    opacity: .85;
    font-size: 1em;
    text-align: center;
    margin-top: -1.5em
}

* {
    box-sizing: inherit
}

*::before,*::after {
    box-sizing: inherit
}

body *,:after,:before {
    box-sizing: border-box;
}

body {
    transition: opacity 1s ease;
    min-width: 320px;
    min-height:100%;
}

audio,canvas,iframe,img,svg,video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

svg:not(:root) {
    overflow: hidden
}

article,aside,details,figcaption,figure,footer,header,main,nav,section,summary {
    display: block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

iframe {
    border: 0
}

@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: device-width;
    }
}

html {
    overflow-x: hidden;
    background: #fff;
    box-sizing: border-box
}

body {
    background: #fff;
    margin: 0
}
.center-align,.align-center{
    justify-content: center !important;
    text-align: center;
}
ul.language-dropdown {
    display: flex;
    height: 100%;
}
.language-dropdown,.language-dropdown li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.language-dropdown > li {
    background: url(../images/down-angle.png) no-repeat;
    padding: 0 20px 0 0;
    background-position: right center;
    display: flex;
    align-items: center;
}
.language-dropdown ul {
    width: 100px;
    border-radius: 4px;
    border: #ccc solid 1px;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0;
    margin: 0;
    display: none;
    background: #fff;
}
.language-dropdown>li:hover ul{
    display: block;
}
.language-dropdown li a{
    font-size: 14px;
    color: #253858;
    text-transform: uppercase;
}
.language-dropdown li ul li a {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.language-dropdown li ul li:hover a{
    background: #829DEE;
    color: #fff;
}
.search-wrap{
    position: relative;
    background: url(../images/serch-icon.png) no-repeat 96% center;
}
.search-wrap .search-input {
    padding-right: 30px;
    background: transparent;
}
.search-input{
    border:#ccc solid 1px;
    border-radius: 4px;
    height: 28px;
    line-height: 1;
    padding: 0 15px;
    width: 100%;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    position: relative;
    width: 222px;
}
.eye-icon{
    width: 15px;
    height: 10px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    background: url(../images/Eye.png) no-repeat;
    content: '';
    cursor: pointer;
}
.bottom-border{
    border-bottom:#ccc solid 1px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-border-bottom{
    border-bottom: none !important;
}
.mt-60{
    margin-top: 60px !important;
}
.mt-80{
    margin-top: 80px !important;
}
/*************************Sidebar *****************/
.setting-sidebar{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 236px;
    background: #1E2D46;  
    padding: 20px;
    color: #fff;
    font-size: 16px;
}
.setting-sidebar-inner {
    width: 100%;
} 
.settings-nav,.settings-nav>li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
.settings-nav{
    margin-top: 60px;
}
.settings-nav>li{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.settings-nav>li img{
    display: inline-block;
    margin: 0 15px 0 0;
     
}
.settings-nav>li a{
    display: flex;
    align-items: center;
    min-height: 35px;
    color: #fff;
    width: 100%;
    padding: 0 15px;
    border-radius: 4px;
}
.settings-nav>li a:hover{
    background: #829DEE;
}
.settings-nav>li.current-item a{
    background: #A537DC;
}
/*********************Sidebar *********************/
/*********************Top Nav *********************/
.settings-menu {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0,0,0,.1) 0 4px 4px;
    height: 60px;
    position: relative;
    padding: 0 30px;
    background: #fff;
    z-index: 99;
}
.title-wrap{
    margin:0 auto 0 0px;
    color: #253858;
    font-size: 22px;
    font-weight: 700;
}
.settings-menu .nav-wrap {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.settings-menu .language-dropdown > li{
    margin-right: 20px;
}
.settings-menu .language-dropdown > li>a{
    border-left: #E0E0E0 solid 1px;
    padding-left: 20px ;
    text-transform: none;
}
.settings-menu .language-dropdown > li:last-child{
    margin-right: 0;
}
.settings-menu .language-dropdown ul{
    top: 50px;
    width: auto;
    min-width: 70px;
    max-width: 200px;
    text-transform: none;
}
.settings-menu .language-dropdown > li.no-border>a{
    border: none;
    padding-left: 5px;
    
}
.settings-menu .language-dropdown > li.no-arrow{
    padding-right: 20px;
    margin-right: 0;
    background: none;
}
.have-notifications>a{
    position: relative;
}
.have-notifications>a::after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #CE4A9B;
    border: #fff solid 2px;
    border-radius: 50%;
    z-index: 1;
    top: 0;
    right: 0;
}
.settings-menu .language-dropdown > li.big-font>a{
    font-size: 15px;
    font-weight: 600;
}
.settings-menu .language-dropdown > li img{
    margin: 0 5px 0 0;
}
.settings-menu .language-dropdown > li.big-font img{
    margin-bottom: 4px;
}
.language-dropdown li ul li a{
    text-transform: none;
}
/*********************Top Nav *********************/
/**************************/
.setting-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.setting-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    align-items: flex-start;
    background: #fbfbfd;
}
.settings-container {
    padding: 30px;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.settings-main {
    display: flex;
    flex-wrap: wrap; 
    width: calc(100% - 236px);
    position: relative;
    align-items: flex-start;
}
.settings-main-inner{
    width: 100%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
}
.status {
    font-size: 12px;
    color: #47BA67;
    border-radius: 4px;
    height: 20px;
    line-height: 1;
    border: #47BA67 solid 1px;
    padding: 0 5px;
    display: flex;
    width: 55px;
    align-items: center;
    justify-content: center;
}
.status.status-active{
    color: #47BA67;
    border:#47BA67 solid 1px;
}
.status.status-expired{
    color: red;
    border:red solid 1px;
}
.status.status-pending{
    color: #F5913C;
    border:#F5913C solid 1px;
}
.status.status-archived{
    color: #5E6167;
    border:#5E6167 solid 1px;
}
.delete-icon{
    display: inline-block;
    background: url(../images/delete.png) no-repeat;
    height: 13px;
    width: 13px;
    margin-left: 15px;
    cursor: pointer;
}
.add-plan-details{
    padding: 20px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 910px;
    border-radius: 4px;
}
.form-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.form-row>div{
    width: 50%;
    padding-left: 15px;
}
.form-row>div:first-child{
    padding-right: 15px;
    padding-left: 0;
}
.form-row label {
    font-size: 16px;
    color: #9CA9BE;
    font-weight: 400;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.form-row .input-field,.form-row textarea{
    width: 100%;
    border-radius: 4px;
    border: rgba(0,0,0,.1) solid 1px;
    min-height: 40px;
    outline: none;
    padding: 0 15px;
}
.form-row textarea{
    padding: 15px;
    min-height: 150px;
}
.form-row .input-field:focus{
    outline: none; 
    border: #A537DC solid 1px;
}
.form-row .cancel-btn{
    max-width: 180px;
    height: 46px;
    font-size: 14px;
    color: #fff;
    background: #B1B1B1;
    outline: none;
    border: none;
    margin: 0 10px 0 0;
}
.add-btn{
    max-width: 220px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: #fff;  
    background: #A537DC;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0 0 10px;
    border-radius: 4px;
}
.form-row .cancel-btn:hover,.form-row .cancel-btn:focus{
    background: #929191; 
}
.add-btn:hover,.add-btn:focus{
    background: #8f1dc9; 
}
select.input-field{
    background: transparent;
}
.col-count-6 .plan-col.col-1{
    width: 25%;
}
.col-count-6 .plan-col.col-2{
    width: 15%;
}
.col-count-6 .plan-col.col-3{
    width: 15%;
}
.col-count-6 .plan-col.col-4{
    width: 15%;
    text-align: left;
}
.col-count-6 .plan-col.col-5{
    width: 15%;
}
.col-count-6 .plan-col.col-6{
    width: 15%;
    text-align: right;
}

.inside-nav{
    display: flex;;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-bottom: rgba(0,0,0,.1) solid 1px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.inside-nav h2 {
    margin: 0 auto 0 0;
    padding: 0;
    font-size: 21px;
    color: #2A3657;
    display: flex;
    width: auto;
}
.inside-nav .actions span{
    color: #2A3657;
    font-size: 12px;
}
.inside-nav .actions{
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}
.inside-nav .actions a {
    background: #A537DC;
    font-size: 12px;
    height: 30px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}
.inside-nav .actions a:hover{
    background: #831eb6;
}
/**************************/
/***********************Plans *************************/
.plan-box {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: rgba(0,0,0,.2) 0 0 6px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    color: #979797;
    align-items: center;
}
.plan-box b,.plan-box strong{
    color: #253858;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: -5px 0 0;
}
 
.plan-col.col-1{
    width: 40%;
}
.plan-col.col-2{
    width: 30%;
}
.plan-col.col-3{
    width: 15%;
}
.plan-col.col-4{
    width: 15%;
    text-align: right;
}


.plan-col a{
    color: #A537DC;
    font-size: 14px;
    text-decoration: underline;
}
.plan-col a:hover{
    text-decoration: none;
}

.plan-cost {
    display: flex;
}
.plan-cost .input-field{
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.plan-cost select {
    border-radius: 4px;
    border: rgba(0,0,0,.1) solid 1px;
    min-height: 40px;
    outline: none;
    padding: 0 25px 0 10px;
    border-left: none;
    border-radius: 0 4px 4px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #F6F6F8;
    background-image: url(../images/down-angle.png);
    background-repeat: no-repeat;
    background-position-x: 46px;
    background-position-y: 14px;
    width: 75px;
}
.select-field{
    border-radius: 4px;
    border: rgba(0,0,0,.1) solid 1px;
    min-height: 40px;
    outline: none;
    padding: 0 25px 0 10px; 
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url(../images/down-angle.png);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 14px;
    width: 100%; 
}
.plan-details{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: rgba(0,0,0,.1) 0 4px 4px;
    border-radius: 4px;
    padding: 20px;
    background: #fff;
    margin: 20px 0 60px;
}
.active-plan-heading{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: #A537DC;
    position: relative;
    border-bottom: rgba(0,0,0,.1) solid 1px;
}
.plan-tabs{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #253858;
    position: relative;
    border-bottom: rgba(0,0,0,.1) solid 1px;
    list-style: none; 
}
.plan-tabs li{
    list-style: none;
    margin: 0 25px 0 0;
    padding: 0;
    display: flex;
    height: 100%;
    position: relative;
}
.plan-tabs li a{
    color: #253858;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0px 10px 0;
}

.plan-tabs li.current_item a,.plan-tabs li:hover a{
    color: #A537DC;
}
.plan-tabs li.current_item::after,.plan-tabs li:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background: #A537DC; 
}
.active-plan-heading:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100px;
    left: 0;
    bottom: 0;
    background: #A537DC;
}
.plan-heading{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: #253858;
    font-size: 20px;
    
}
.plan-status{
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.manage-subscriptions{
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0; 
}
.manage-subscriptions>li{
    list-style: none;
    margin: 0;
    padding: 0 15px 0 0;
    color: #A537DC;
    font-size: 12px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    background: url(../images/down-angle-1.png) no-repeat right center;
}
.manage-subscriptions>li>a{
  color: #A537DC;
  text-decoration: none;
}
.manage-subscriptions>li>ul {
    min-width: 165px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    right: 0;
    top:19px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: rgba(0,0,0,.1)  solid 1px;
    display: none;
}
.manage-subscriptions>li:hover ul{
    display: block;
}
.manage-subscriptions>li>ul>li{
    list-style: none;
  margin: 0;
  padding: 0;
}
.manage-subscriptions>li>ul>li>a {
    color: #253858;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 15px;
    display: flex;
    width: 100%;
}
.manage-subscriptions>li>ul>li>a:hover{
    background: #A537DC;
    color: #fff;
}
.manage-subscriptions>li>ul>li:first-child>a{
    border-radius: 4px 4px 0 0;
}
.manage-subscriptions>li>ul>li:last-child>a{
    border-radius: 0 0 4px 4px;
}
.plan-price{
    font-size: 34px;
    font-weight: 700;
    color: #04151E;
     width: 100%;
}
.plan-price span{
    font-size: 13px;
    font-weight: 400;
}
.plan-dates {
    font-size: 14px;
    color: #253858;
    display: flex;
    width: 100%;
}
.plan-dates span{
    display: flex;
    padding-right: 20px;
}
.plan-options{
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #2A3657;
    align-items: center;
    max-width: 900px;
}
.pricing-methods ,.renew-period{
    display: flex;
    align-items: center;
}
.pricing-methods{
    padding-right: 20px;
}
.pricing-methods .select-field{
    width: 148px;
    background-color: #fff;
    border: #ccc solid 1px;
    background-position-x: 125px;
    margin-left: 10px;
}

.renew-period .select-field{
    width: 125px;
    background-color: #fff;
    border: #ccc solid 1px;
    background-position-x: 105px;
    margin-left: 10px;
}
.plan-type {
    margin: 0 0 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    width: 210px;
    border-radius: 4px; 
}
.plan-type span {
    display: flex;
    height: 100%;
    align-items: center; 
    padding: 0 10px;
    justify-content: center;
}
.plan-type .yearly-plan{
    background: #A537DC;
    color: #fff;
    width: 60%;
    border-radius: 4px 0 0 4px;
    border: #A537DC solid 1px;
    
}
.plan-type .monthly-plan{ 
    color: #A537DC;
    width: 40%;
    border-radius: 0 4px 4px 0;
    border: #A537DC solid 1px;
    border-left: none;
}
.plan-type .monthly-plan:hover{
    background: #829DEE;
    color: #fff;
    border-color: #829DEE;
}
.plan-boxes-wrap {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0 0;
}
.planBox{
    background: #fff;
    border-radius: 4px;
    padding: 30px 25px;
    box-shadow: rgba(0,0,0,.2) 0 0 6px;
    width: 48.5%;
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    color: #979797;  
    position: relative;
    flex-wrap: wrap;
}
.plan-title{
 width: 100%;
 display: flex;
 align-items: center;
 color: #CE4A9B;
 margin: 0 0 20px;
 font-size: 20px;
 font-weight: 700;
 padding-right: 120px;
 position: relative;
}
.plan-title span{
    background-color: #CE4A9B;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    height: 40px;
    border-radius: 4px;
    width: 115px;
    position: absolute;
    right: -10px;
    top: -15px;
}
.planBox .plan-price {
    font-size: 42px;
    margin: 20px 0 0;
}
.planBox .plan-price span{
    font-size: 16px;
    padding-left: 8px;
}
.planBox .plan-price .label{
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    display: flex;
    margin: 0 0 -5px;
    padding: 0;
}
.plan-features{
    list-style: none;
    margin: 30px 0;
    padding: 0;
}
.plan-features li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    position: relative;
    background: url(../images/tick.png) no-repeat left 8px;
    padding-left: 26px;
    margin: 0 0 15px;
}
.planBox .purchase-btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: #8f1dc9;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    transition: all ease-in-out .2s;
}
.planBox .purchase-btn:hover{
    background-color: #CE4A9B;
}
.payment-methods {
    width: 100%;
    margin: 15px 0 20px;
}
.payment-method{
    display: flex;
    align-items: center; 
    min-height: 63px;
    width: 100%; 
    max-width: 424px;
    border-radius: 4px;
    background: #fff;
    padding: 15px;
    margin: 0 0 10px; 
}
.card-details {
    font-size: 14px;
    font-weight: 700;
    color: #253858;
    margin-left: 15px;
    padding: 0;
    line-height: 1.2;
}
.card-details span{
    display: flex;
    width: 100%;
    color: #B1B1B1;
    font-size: 12px;
}
.card-actions {
    color: #B1B1B1;
    font-size: 14px;
    margin: 0 0 0 auto;
}
.card-actions a{
    text-decoration: underline;
    color: #A537DC;
}
.card-actions span{
    border-bottom: #A537DC solid 1px;
    color: #A537DC;
    cursor: pointer;
}
.payment-method.active .card-actions span{
    color: #B1B1B1;
    border-bottom: #B1B1B1 solid 1px;
    cursor: default;
}
.card-actions .delete-icon{
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
}
.btn-add-card {
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    text-decoration: none;
    border: #A537DC solid 1px;
    border-radius: 4px;
    color: #A537DC;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff url(../images/Plus.png) no-repeat;
    background-size: 15px 15px;
    background-position: 20px center;
    max-width: 130px;
    margin: 20px 0 0;
}
.btn-add-card:hover{
    background-color: #f7f7f7;
}


/***********Plans ***************************/

/**********************popup-wrapper add-card-popup************/
.popup-wrapper, .add-card-popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.add-card-popup.opened,.popup-wrapper.opened{
    display: flex;
}
.popup-overlay{
    height: 100%;
    width: 100%;
    background: #1f21277d;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}
.popup-box{
    background-color: #fff;
    border-radius: 4px;
    max-width: 464px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 6;
}
.popup-title{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    color: #2A3657;
    border-bottom: #E6E8EB solid 1px;
    padding: 15px 20px;
    align-items: center;
    width: 100%;
}
.close-popup{
    margin: 0 0 0 auto;
    display: flex;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../images/close.png) no-repeat;
}
.popup-box .card-info {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.popup-box input[type=text],.popup-box input[type=number]{
    width: 100%; 
    border: #E0E0E0 solid 1px;
    border-radius: 4px;
    color: #253858;
    font-size: 14px;
    height: 40px;
    padding: 0 15px;
    outline: none;
    margin:5px 0 15px;
}
.popup-box .input-wrap {
    width: 100%;
}
.popup-box .input-wrap.card-number input[type=text],.popup-box .input-wrap.card-number input[type=number] {
    background-image: url(../images/master-card.png);
    background-position: 98% center;
    padding-right: 60px;
    background-repeat: no-repeat;
}
.popup-box input[type=number]::-webkit-inner-spin-button, 
.popup-box input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.popup-box label{
    font-size: 16px;
    font-weight: 600;
    color: #9CA9BE;
}
.popup-box .input-wrap.col-2{
    display: flex;
}
.popup-box .input-wrap.col-2>div{
    width: 48%;
}
.popup-box .input-wrap.col-2>div:last-child{
    margin: 0 0 0 auto;
}
.popup-box .input-wrap .btn{
   height: 46px;
   width: 100%;
   max-width: 220px;
   border-radius: 4px;
   text-decoration: none;
   outline: none;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 15px 0;
   color: #fff;
}
.popup-box .input-wrap .btn.btn-cancel{
background: #B1B1B1;
}
.popup-box .input-wrap .btn.btn-cancel:hover{
    background: red;
}
.popup-box .input-wrap .btn.btn-add{
    background: #A537DC;
}
.popup-box .input-wrap .btn.btn-add:hover{
    background: #8f1dc9;
}
/*********************add-card-popup end ********/
.col-row {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: rgba(0,0,0,.2) 0 0 6px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    font-size: 14px;
    color: #253858;
    align-items: center;
}
.col-row.header-row{
    background: none;
    box-shadow: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #2A3657;
}
.col-row>.col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
}
.col-row>.col:first-child img{
    margin-right: 10px;
}
.col-row>.col b{
    color: #2A3657;
}
.c1{width: 100% !important;}
.c2{width: 50% !important;}
.c3{width: 33.333% !important;}
.c4{width: 25% !important;}
.c5{width: 20% !important;}
.c5{width: 16.666% !important;}
.pl100{
    padding-left: 100px;
}
.align-right,.right-align{
    text-align: right;
    justify-content: flex-end;
}
.border-tb{
    border-top: rgba(0,0,0,.1) solid 1px;
    border-bottom: rgba(0,0,0,.1) solid 1px;
}
.border-t{
    border-top: rgba(0,0,0,.1) solid 1px; 
}
.border-b{ 
    border-bottom: rgba(0,0,0,.1) solid 1px;
}
.pl-60{
    padding-left: 60px;
}
@media(max-width:767px){
    .c1,.c2,.c3,.c4,.c5,.c6{width: 100% !important;}
    .pl100{
        padding-left: 0px;
    }
}